1.Abstract-Intro-RelatedWork/AbstractIntroRelatedWork.log
2.Modelling/Modelling.log
3.TheoreticalModel/Math-Model*
4.Results/Results.log
5.Simulations-Summary/SimulationsSummary.log
AnalysisOfGCReport.aux
AnalysisOfGCReport.bbl
AnalysisOfGCReport.bcf
AnalysisOfGCReport.blg
AnalysisOfGCReport.log
AnalysisOfGCReport.pdf
AnalysisOfGCReport.synctex.gz